{% case section.settings.feature_block_id %}
  {% when '35c6c30d-3723-49d0-93e6-40244db6763f' %}
  <div class="kaching-icon-block" data-block-id="35c6c30d-3723-49d0-93e6-40244db6763f"></div>
{% when 'f201e914-14fa-4c17-8e03-d56bf2284290' %}
  <div class="kaching-icon-block" data-block-id="f201e914-14fa-4c17-8e03-d56bf2284290"></div>
{% endcase %}
{% schema %}
  {
    "name": "Icon block",
    "settings": [
      {
        "type": "select",
        "id": "feature_block_id",
        "label": "Icon block",
        "options": [{"value":"","label":"None"},{"value":"35c6c30d-3723-49d0-93e6-40244db6763f","label":"Homepage"},{"value":"f201e914-14fa-4c17-8e03-d56bf2284290","label":"Product"}]
      }
    ],
    "presets": [
      {
        "name": "Guarantees & Features Icons",
        "category": "Image"
      }
    ]
  }
{% endschema %}
